.login{
    height: '100vh';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}
.login_card{
background: white;
padding: 30px;
width: 320px;
border-radius: 8px;
box-shadow: 0 4px 12px rgba(0,0,0,0.1);

}
.login_title{
    text-align: center;
    margin-bottom: 20px;
}

.login_label{
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}
.login_select,login_input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;

}
.login_button{
    width:100%;
padding:10px;
background-color: #2fbf71;
color: white;
border: none;
cursor: pointer;
font-size: 16px;
}
.login_button:hover{
    background-color: #27a862;
}